<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://camel.apache.org/schema/cxf"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://cxf.apache.org/jaxws 
       http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/osgi  
       http://www.springframework.org/schema/osgi/spring-osgi.xsd
       http://camel.apache.org/schema/spring 
       http://camel.apache.org/schema/spring/camel-spring.xsd
       http://camel.apache.org/schema/cxf
	   http://camel.apache.org/schema/cxf/camel-cxf.xsd
	   http://www.springframework.org/schema/util 
	   http://www.springframework.org/schema/util/spring-util-2.5.xsd
	   http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="testService" class="net.cristcost.study.TestServiceImpl" />
	<bean id="simpleService" class="net.cristcost.study.SimpleServiceImpl" />
	<bean id="annotatedService" class="net.cristcost.study.AnnotatedServiceImpl" />

	<bean id="testServlet" class="net.cristcost.study.ServiceServlet">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="services">
			<util:list>
				<ref bean="testService" />
				<ref bean="simpleService" />
				<ref bean="annotatedService" />
			</util:list>
		</property>
	</bean>

	<bean id="testHttpRequestHandler" class="net.cristcost.study.ServiceHttpRequestHandler">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="services">
			<util:list>
				<ref bean="testService" />
				<ref bean="simpleService" />
				<ref bean="annotatedService" />
			</util:list>
		</property>
	</bean>

	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/secured/standard.servlet">testServlet</prop>
				<prop key="/secured/http-request-handler.servlet">testHttpRequestHandler</prop>
				<prop key="/unfiltered/standard.servlet">testServlet</prop>
				<prop key="/unfiltered/http-request-handler.servlet">testHttpRequestHandler</prop>
			</props>
		</property>
	</bean>
</beans>
